<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>

The Customer is confirmed:

<span th:text="${customer.firstName + ' ' + customer.lastName}" />

<br><br>

Number of Free Passes Used:
<span th:text="${customer.freePasses}" />

<br><br>

Zip Code:
<span th:text="${customer.zipCode}" />

<br><br>

Course Code:
<span th:text="${customer.courseCode}" />

</body>
</html>